{minimum_otp_vsn, "17.0"}.

{validate_app_modules, true}.

{profiles, [
    {prod, [{erl_opts, [no_debug_info, warnings_as_errors]},
            {relx, [{dev_mode, false}]}]
    },
    {test,
        [{deps, [{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.3"}}},
                 {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.13"}}},
                 {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.17.0"}}},
                 {jsone, ".*", {git, "https://github.com/sile/jsone.git", {tag, "1.4.5"}}}
                ]},
         {erl_opts, [debug_info]}]
    },
    {dev,
        [{deps, [{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.3"}}},
                 {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.13"}}},
                 {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.17.0"}}},
                 {jsone, ".*", {git, "https://github.com/sile/jsone.git", {tag, "1.4.5"}}}
                ]}]
    }
]}.
